.years {
  display: flex;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -4px;
  width: 100%;
  justify-content: flex-end;
  padding-right: 255px;
  box-sizing: border-box;
  gap: 92px;
  margin-top: 90px;

  &__dateStart,
  &__dateEnd {
    margin: 0;
    display: inline-block;
    overflow: hidden;
    position: relative;

    span {
      display: inline-block;
      transform-origin: bottom center;
      will-change: transform;
      transition: transform 0.5s ease-in-out;
    }
  }

  &__dateStart {
    color: #5d5fef;
  }

  &__dateEnd {
    color: #ef5da8;
  }
}
