@import '../../utils/variables.scss';

.app {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  margin: 0 auto;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 480px;
    width: 100%;
    height: 1px;
    background-color: $border-color;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    left: 720px;
    top: 0;
    height: 100%;
    background-color: $border-color;
    z-index: -1;
  }

  @media (max-width: 1400px) {
    &::after {
      left: auto;
      right: 500px;
    }
  }

  @media (max-width: 1100px) {
    &::after {
      right: 490px;
    }
  }

  @media (max-width: 1023px) {
    &::before {
      top: 350px;
    }

    &::after {
      left: auto;
      right: 345px;
    }
  }

  @media (max-width: 767px) {
    border: none;
    &::before,
    &::after {
      display: none;
    }
    .sliderContainer {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
