@import '../../utils/variables.scss';

.title {
  border-left: 5px solid transparent;
  border-image: linear-gradient(0deg, #ef5da8, #3877ee);
  border-image-slice: 1;
  height: 120px;
  margin: 177px 0 0 0;
  font-size: $font-size-small;

  &__text {
    padding-left: 73px;
    color: $color-black-blue;
    margin: 0;
    font-weight: 700;
    line-height: 120%;
    position: relative;
    top: -10px;
  }

  @media (max-width: 1400px) {
    &__text {
      padding-left: $padding-medium-large;
    }
  }

  @media (max-width: 1023px) {
    margin: 85px 0 0 0;
    font-size: 40px;
    height: 85px;
  }

  @media (max-width: 767px) {
    border: none;
    margin: 37px 0 0 0;
    height: fit-content;
    &__text {
      padding: 0;
      font-size: 20px;
      top: 0;
    }
  }
}
