$font-size-large: 200px;
$font-size-medium: 125px;
$font-size-small: 56px;
$font-size-xsmall: 14px;

$font-weight-bold: 700;

$color-primary: #5d5fef;
$color-secondary: #ef5da8;
$color-dark: #3877ee;
$color-light: rgba(244, 245, 249, 1);
$color-black-blue: #42567a;
$border-color: rgba(66, 86, 122, 0.1);

$gap-large: 92px;
$gap-medium: 20px;
$gap-small: 0;

$padding-small: 10px;
$padding-medium: 35px;
$padding-medium-large: 50px;
$padding-large: 80px;
