@import '../../utils/variables.scss';

.chooseContainer {
  padding: 150px 0 56px 80px;
}

.chooseNumbers {
  color: $black-blue-color;
  font-size: 14px;
  line-height: normal;
  margin: 0 0 20px 0;
}

.chooseButton {
  width: 50px;
  height: 50px;
  border: 1px solid $black-blue-color;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
}

.chooseButton:hover {
  background-color: white;
  transform: scale(1.1);
}

.chooseButton:last-of-type {
  margin-left: 20px;
}
