@import '../../utils/variables.scss';

.chooseSphere {
  &__container {
    padding: 150px 0 56px 80px;
  }

  &__numbers {
    color: $color-black-blue;
    font-size: $font-size-xsmall;
    line-height: normal;
    margin: 0 0 20px 0;
  }
  &__button {
    width: 50px;
    height: 50px;
    border: 1px solid $color-black-blue;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    transition:
      background-color 0.3s ease,
      opacity 0.3s ease,
      transform 0.3s ease;
    &:hover {
      background-color: white;
      transform: scale(1.1);
    }
    &:last-of-type {
      margin-left: 20px;
    }
  }

  &__button-icon {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    position: relative;
  }

  @media (max-width: 1400px) {
    &__container {
      padding-left: $padding-medium-large;
    }
  }

  @media (max-width: 1023px) {
    &__container {
      padding: 100px 0 48px $padding-medium-large;
    }

    &__numbers {
      margin: 0 0 15px 0;
    }

    &__button {
      width: 40px;
      height: 40px;
      &:last-of-type {
        margin-left: 15px;
      }
    }
  }

  @media (max-width: 767px) {
    &__container {
      padding: 37px 0 0 0;
    }

    &__numbers {
      margin: 0 0 10px 0;
    }

    &__button {
      width: 25px;
      height: 25px;
      &:last-of-type {
        margin-left: 8px;
      }
    }
  }
}
