@import url(./vendor/normalize.css);

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f5f9;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 160px;
  box-sizing: border-box;
  @media (max-width: 1400px) {
    padding: 0 30px 0 60px;
  }

  @media (max-width: 767px) {
    padding: 20px;
  }
}
