@import '../../utils/variables.scss';

.infoSlider {
  padding: 0 $padding-large $padding-large;
  position: relative;

  &__slide {
    width: 320px;
  }

  &__year {
    color: $color-dark;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 15px;
  }

  &__fact {
    font-size: 20px;
    line-height: 30px;
    color: $color-black-blue;
    margin: 0;
  }

  &__buttonPrev,
  &__buttonNext {
    font-size: 25px;
    padding: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #fff;
    filter: drop-shadow(0px 0px 15px rgba(56, 119, 238, 0.1));
    transition: transform 0.3s ease;
    display: inline-flex;
    justify-content: center;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__buttonPrev {
    left: 20px;
  }

  &__buttonNext {
    right: 20px;
  }

  .swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }

  .swiper-pagination {
    display: none;
  }

  &__buttonIcon {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    position: relative;
    color: $color-black-blue;
  }

  @media (max-width: 1400px) {
    padding-left: 50px;
    &__buttonPrev {
      left: 5px;
    }
    &__buttonNext {
      right: 5px;
    }
  }

  @media (max-width: 1023px) {
    &__slide {
      width: 250px;
    }

    &__year {
      font-size: 22px;
      margin: 0 0 15px;
    }

    &__fact {
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    padding: 15px 0 0 0;
    border-top: 1px solid $border-color;

    &__buttonPrev,
    &__buttonNext {
      display: none;
    }
    &__slide {
      width: 170px;
    }
    &__year {
      font-size: 16px;
      margin: 0 0 7px;
    }

    &__fact {
      font-size: $font-size-xsmall;
      line-height: 20.3px;
    }

    .swiper-pagination {
      display: block;
      position: fixed;
      top: 135%;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-black-blue;
    }
    .swiper-pagination-bullet {
      height: 6px;
      width: 6px;
    }
  }
}
